* {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF4FD;
}

/* Estilos generales */
.hidden{
    display: none;
}


/* ----------------------   Cabecera inicial ----------------------*/

.cabecera {
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    height: 23px;
    width: 100%;
    border-bottom: 1px solid black;
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-left: 8px;
}


/* ---------------- Arrow */

.arrow {
    position: absolute;
    top: 79px;
    left: 60px;
    max-width: 24px;
    max-height: 24px;
}


/* ---------------- Logo */

.logo {
    position: absolute;
    top: 66px;
    left: 91px;
    width: 102.6px;
    height: 64px;
}


/* --------------------------------   BOX ----------------------*/
/* PANTALLA 1 */
.box {
    width: 684px;
    min-height: 386px;
    margin: 153px auto;
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-bottom: 153px;
}


/* ---------------- Encabezado */

.encabezado {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
}

.encabezado p {
    margin: 0;
}

/* ---------------- Contenido */

.menu_content_box {
    display: flex;
    flex-direction: row;
    padding: 30px 93px 30px 25px;
}

.description {
    margin: 0 0 0 16px;
}

.description h4 {
    margin-bottom: 17px;
}

.description p,
ol {
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
}

.description p {
    margin-bottom: 15px;
}

.description li {
    margin-bottom: 15px;
    margin-left: 16px;
}

.description li::before {
    content: ")";
    margin-right: 4px;
    margin-left: -2px;
    font-weight: bold;
}

/* ---------------- Bottons */

.buttons {
    display: block;
    text-align: right;
    padding: 0 2rem 2rem 0;
}

.buttons .cancelar {
    display: inline;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    cursor: pointer;
}

.buttons .cancelar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.buttons .comenzar {
    display: inline;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    margin-left: 16px;
    cursor: pointer;
}

.buttons .comenzar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-weight: 500;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


/* ============================================ Fin PANTALLA 1 =============================*/


/* ============================================ Inicio PANTALLA 2 =============================*/

#parte2{
    position: relative;
    width: 100%;
    min-height: 100%;
}
.encabezado_precaptura {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2px;
}

#parte2 .video{
    /* padding: 0 10px; */
    width: 832px;
    height: 434px;
    box-sizing: border-box;
    margin: 20px;
}

.buttons_precaptura{
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    bottom: 10px;
    right: 10px;
    width: 100%;
    height: 80px;
}

/* Button CAPTURAR */

.buttons_precaptura .capturar {
    /* display: inline; */
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    margin-left: 16px;
    cursor: pointer;
    margin-left: 0;
    width: 144px;
    height: 36px;
}

.buttons_precaptura .capturar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-weight: 500;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


.camera{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 36px;
    height: 36px;
    border-right: 0;
}

.camera img {
    width: 13.5px;
    height: 10.5px;
 
 } 