
body,
html {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFF4FD;
    width: 100%;
}

.hidden{
    display: none;
}
.title_busqueda{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
    background: #E6E6E6;
    height: 32px;
    border: inset;
    padding: 5px;
    display: none;
}
.titlesearch{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #110038;
    line-height: 32px;
    margin: 0;
}

/* ----------------------   Cabecera inicial ----------------------*/

.cabecera {
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    height: 23px;
    border-bottom: 1px solid black;
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-left: 8px;
}


/* ------------------------------------Container principal----------- */

.container {
    padding: 0 4rem;
    margin: auto;
}


/* ------------------------------------ Navbar ---------------------*/

#main-nav {
    width: 100%;
    height: 4.2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}


/* -------------------------- logo */

.main-nav-content .logo {
    width: 102px;
    height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
}

.mis-gifos{
    padding: 8px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

/* ============================================ MIS GIFOS =============================*/


.my_gif_title {
    margin: 4rem 0;
    margin-bottom: 2rem;
    overflow: hidden;
    background: #E6E6E6;
    height: 32px;
    display: flex;
    align-items: center;
    border: inset;
    padding: 5px;
}

.my_gif_title h4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #110038;
}

.gif-grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: stretch; 
    column-gap: 5px;
}

.gif-grid-content img{
    height: 100%;
    width: 100%;
}



/* ============================================  FIN MIS GIFOS =============================*/

/* ========================================= DARK MODE  =============================================*/

.active {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}


/* Body */

.dark {
    background: #110038;
    height: 100vh;
}


/* cabecera */

body.dark .cabecera {
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}


/* oculto el logo dark */

#logo_dark {
    display: none;
}


/* Activo el Dark logo */

body.dark #logo_dark {
    display: block;
}

body.dark #logo_white {
    display: none;
}


/* Dark buttons */

.night {
    background: #2E32FB;
    border: 1px solid rgba(51, 53, 143, 0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

body.dark .submenu {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

body.dark .day {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

body.dark .day a {
    color: #110038;
}

body.dark .noche a {
    color: #fff;
}

body.dark .main-menu-link {
    background: #CE36DB;
    color: #fff;
}

body.dark .mis-gifos {
    box-sizing: border-box;
    color: #ffffff;

}

body.dark .mis-gifos:hover {
    border: 1px dashed #fff;
}

body.dark .main-menu-item .tema {
    background: #CE36DB;
    color: #fff;
}


/* --------------- Buscador */


/* Title_bar_dark */

body.dark .title-buscar {
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}

body.dark .content-buscar {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

body.dark .keyword {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.btn_bg_night{
    background: #CE36DB;
    color:#ffffff;
}
.btn_bg_day{
    background: #F7C9F3;
    color: #110038;
}

/* ----------- Card sugeridos */
body.dark #vanness p,#sailorM p{
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}
body.dark #sailorM p{
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}
body.dark #fab p {
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}
body.dark #unicorns p {
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}
body.dark .title_tendencia{
    background: linear-gradient(90deg, #2E32FB, #EE3EFE);
}
body.dark .tag_content {
    background: #EE3EFE;
}

/* ========================================= # FIN DARK MODE  =============================================*/




/* -------------------------- Menu */

.main-menu {
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin-left: auto;
}

.main-menu .main-menu-item {
    list-style: none;
    position: relative;
}

.main-menu .main-menu-link {
    text-decoration: none;
    color: #110038;
    padding: 9px 26.5px;
    background: #F7C9F3;
    border: 1px solid #110038;
    margin: 0 8px;
    font-size: 1em;
    font-weight: 400;
}

.main-menu .main-menu-link:hover {
    border: 1px dashed #110038;
}

.main-menu .main-menu-item .tema {
    padding: 9px 11px;
    background: #F7C9F3;
    border: 1px solid #110038;
    margin-left: -10px;
    cursor: pointer;
    position: relative;
}

.main-menu .main-menu-item .tema:hover {
    border: 1px dashed #110038;
}

.submenu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 149px;
    padding: 9px 10px;
    background: #E6E6E6;
    display: none;
}

.submenu li {
    list-style: none;
    margin: 8px 0;
    padding: 0 9px;
    border: outset;
    height: 31px;
}

.submenu li:hover {
    border: 1p dashed #000;
}

.submenu a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    line-height: 32px;
}
.mis_gifos_container{
    width:100px ;
    cursor: pointer;
}

.mis-gifos {
    text-decoration: none;
    color: #110038;
    margin: 0;
    font-size: 1em;
    margin-right: 0;
    line-height: 64px;
    /* padding: 0; */
}
.mis-gifos:hover {
    border: 1px dashed #110038;
    padding: 7px;
}


/* ------------------------------------------ Buscador ------------------------ */

.buscador {
    margin: 2rem 0;
    margin-bottom: 0;
    overflow: hidden;
}

.buscador .title-buscar {
    width: 100%;
    height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-left: 8px;
}

.buscador .content-buscar {
    background: #E6E6E6;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador input {
    width: 100%;
    height: 48px;
    background: #fff;
    margin: 11px 8px 12px 15px;
    padding-left: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

.buscador button {
    width: 102px;
    height: 36px;
    margin-right: 10px;
    cursor: pointer;
}


/* ------------------------------------------ Keyword ----------------------------------- */

.keyword {
    width: 100%;
    height: 150px;
    background: #E6E6E6;
    border-top: inset;
    padding: 0;
    margin: 0;
    display: none;
}

.keysugerida {
    width: 85%;
    height: 34px;
    background-color: #F0F0F0;
    border-color: #808080;
    border: outset;
    margin-top: 0.5rem;
    margin-left: 1rem;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.keysugerida:hover{
    border: dashed;
}

.key{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 33px;
    padding-left: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 30px;
}

.btn_tag{
    width: 100px;
    height: 50px;
    padding: 0.25rem;
}

/* ------------------------------------------- Contenido Buscado por el usuario -------------------- */

.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: .5rem 0;
    justify-items: stretch;
}


.item {
    margin-bottom: 1em;
}
.search__tags{
    margin: .5rem .2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag_content{
    width: 100px;
    height: 34px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 33px;
    text-align: center;
    margin: 1rem .2rem;
}


/* ------------------------------------------- Hoy te sugerimos -----------------------  */

.title_sugerido {
    margin: 4rem auto;
    margin-bottom: 2rem;
    overflow: hidden;
    background: #E6E6E6;
    height: 32px;
    display: flex;
    align-items: center;
    border: inset;
    padding: 5px;
}

.title_sugerido h4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #110038;
}


/*  ==============================  INICIO CARDS */

.main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
}


/* =============== Vanness */

#vanness{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 286px;
    height: 296px;
    position: relative;
    margin: 0 .2rem 0 .2rem;
    padding: 5px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

#vanness:hover{
    border: dashed;
}


#vanness p{
    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    margin: 0;
    width: 100%;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.img-vanness{
    width: 100%;
    height: 266px;
}
.btnjonathan{
    position: absolute;
    bottom: 22px;
    left: 10px;
    width: 81px;
    height: 34px;
    background: #4180F6;
    cursor: pointer;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.btnjonathan a{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
}


/* =============== SAILOR */

#sailorM {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 286px;
    height: 296px;
    position: relative;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 5px;
    margin: 0 .2rem 0 .2rem;
}
#sailorM:hover{
    border: dashed;
}
.img-saylor{
    width: 100%;
    height: 266px;
}

#sailorM p {
    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    margin: 0;
    width: 100%;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btnSailor {
    position: absolute;
    bottom: 22px;
    left: 10px;
    width: 81px;
    height: 34px;
    background: #4180F6;
    cursor: pointer;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.btnSailor a{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
}


/* =============== FAB FIVE */

#fab {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 286px;
    height: 296px;
    position: relative;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 5px;
    margin: 0 .2rem 0 .2rem;
}

#fab:hover{
    border: dashed;
}
.img-fab{
    width: 100%;
    height: 266px;
}

#fab p {
    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    margin: 0;
    width: 100%;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btnFab {
    position: absolute;
    bottom: 22px;
    left: 10px;
    width: 81px;
    height: 34px;
    background: #4180F6;
    cursor: pointer;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.btnFab a{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
}


/* =============== Unicorns */

#unicorns {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 286px;
    height: 296px;
    position: relative;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 5px;
    margin: 0 .2rem 0 .2rem;
}

#unicorns:hover{
    border: dashed;
}
.img-uni{
    width: 100%;
    height: 266px;
}

#unicorns p {
    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    margin: 0;
    width: 100%;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btnUni {
    position: absolute;
    bottom: 22px;
    left: 10px;
    width: 81px;
    height: 34px;
    background: #4180F6;
    cursor: pointer;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}
.btnUni a{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-decoration: none;
}


/* ---------------------------------------- tendencias ------------------------*/

.trending {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}


.item {
    width: 100%;
    height: 100%;
}

.container_api_tendencia{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 276px;
    height: 286px;
    position: relative;
    margin-bottom: .5rem;
}
.container_api_tendencia:hover{
    border: dashed;
}

.container_api_tendencia:hover .title_tendencia{
    display: block;
}

.title_tendencia{
    display: none;
    background: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}