* {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF4FD;
}


/* ----------------------   Cabecera inicial ----------------------*/

.cabecera {
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    height: 23px;
    width: 100%;
    border-bottom: 1px solid black;
    color: #fff;
    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    padding-left: 8px;
}


/* ---------------- Arrow */

.arrow {
    position: absolute;
    top: 79px;
    left: 60px;
    max-width: 24px;
    max-height: 24px;
}


/* ---------------- Logo */

.logo {
    position: absolute;
    top: 66px;
    left: 91px;
    width: 102.6px;
    height: 64px;
}

video {
    margin: auto;
}


/*  Pantalla 1 */


/* ============================================ Inicio Crear Gifos =============================*/


/* --------------------------------   BOX ----------------------*/

.box {
    width: 684px;
    min-height: 386px;
    margin: 153px auto;
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-bottom: 153px;
}


/* ---------------- Encabezado */

.encabezado {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
}

.encabezado p {
    margin: 0;
}


/* ---------------- Contenido */

.menu_content_box {
    display: flex;
    flex-direction: row;
    padding: 30px 93px 30px 25px;
}

.description {
    margin: 0 0 0 16px;
}

.description h4 {
    margin-bottom: 17px;
}

.description p,
ol {
    font-family: ChakraPetch-Regular;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
}

.description p {
    margin-bottom: 15px;
}

.description li {
    margin-bottom: 15px;
    margin-left: 16px;
}

.description li::before {
    content: ")";
    margin-right: 4px;
    margin-left: -2px;
    font-weight: bold;
}


/* ---------------- Bottons */

.buttons {
    display: block;
    text-align: right;
    padding: 0 2rem 2rem 0;
}

.buttons .cancelar {
    display: inline;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    cursor: pointer;
}

.buttons .cancelar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.buttons .comenzar {
    display: inline;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    margin-left: 16px;
    cursor: pointer;
}

.buttons .comenzar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


/* ============================================ Fin Crear Gifos =============================*/


/*  Pantalla 2 */


/* ============================================ ESTILOS PRECAPTURA =============================*/


/* OCULTANDO PRECAPTURA */

#pantallaPrecaptura {
    position: relative;
    display: none;
}


/* --------------------------------   BOX ----------------------*/

.box_precaptura {
    width: 684px;
    min-height: 386px;
    margin: 153px auto;
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-bottom: 153px;
}


/* ---------------- Encabezado */

.encabezado_precaptura {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2px;
}

.encabezado_precaptura p {
    margin: 0;
    line-height: 18px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.encabezado_precaptura img {
    margin: auto 0;
    margin-right: 10px;
}


/* ---------------- Contenido */

.content_box_precaptura {
    max-width: 832px;
    max-height: 434px;
    border: 1px inset #000;
    background-color: gray;
    margin: 1rem;
    overflow: hidden;
}


/* ---------------- Bottons */

.camera {
    display: inline-block;
    padding: 9px 15.5px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: -5px;
    border-right: none;
}

.camera img {
    width: 13.5px;
    height: 10.5px;
}

.buttons_precaptura {
    display: block;
    text-align: right;
    padding: 0 2rem 1rem 0;
}

.buttons_precaptura .capturar {
    display: inline-block;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    margin: auto 0;
    cursor: pointer;
}

.buttons_precaptura .capturar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


/* ============================================ FIN ESTILOS PRECAPTURA =============================*/


/*  Pantalla 3 */


/* ============================================ ESTILOS CAPTURA ==================================*/


/* OCULTANDO PRECAPTURA */

#pantallaCaptura {
    display: none;
}


/* --------------------------------   BOX ----------------------*/

.box_captura {
    width: 684px;
    min-height: 386px;
    margin: 153px auto;
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-bottom: 153px;
}


/* ---------------- Encabezado */

.encabezado_captura {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2px;
}

.encabezado_captura p {
    margin: 0;
    line-height: 18px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.encabezado_captura img {
    margin: auto 0;
    margin-right: 10px;
}


/* ---------------- Contenido */

.content_box_captura {
    max-width: 832px;
    max-height: 434px;
    border: 1px inset #000;
    background-color: gray;
    margin: 1rem;
    overflow: hidden;
}


/* ---------------- Bottons */

.camera_cap {
    display: inline-block;
    padding: 9px 15.5px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: -5px;
    border-right: none;
}

.camera_cap img {
    width: 13.5px;
    height: 10.5px;
}

.buttons_captura {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    padding: 0 2rem 1rem 0;
}

.buttons_captura .cap {
    display: inline-block;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    margin: auto 0;
    cursor: pointer;
}

.buttons_captura .capturar a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.cronometro {
    position: absolute;
    bottom: 18px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27px;
    width: 124px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

#cronometro {
    display: none;
}


/* ============================================ FIN CAPTURA =============================*/


/* Pantalla 4 */


/* ============================================ Pantalla VISTA PREVIA ==================================*/


/* OCULTANDO PRECAPTURA */

#vistaPrevia {
    display: none;
}


/* --------------------------------   BOX ----------------------*/

.box_vista_previa {
    width: 684px;
    min-height: 386px;
    margin: 153px auto;
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-bottom: 153px;
}


/* ---------------- Encabezado */

.encabezado_previa {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2px;
}

.encabezado_previa p {
    margin: 0;
    line-height: 18px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.encabezado_previa img {
    margin: auto 0;
    margin-right: 10px;
}


/* ---------------- Contenido */

.content_box_previa {
    max-width: 832px;
    max-height: 434px;
    border: 1px inset #000;
    background-color: gray;
    margin: 1rem;
    overflow: hidden;
}


/* ---------------- Buttons */

.buttons_previa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    padding: 0 2rem 1rem 0;
}

.buttons_preview {
    display: flex;
    flex-direction: row;
}


/* --------------- Button Repetir Captura*/

.btnRepCap {
    width: 144px;
    height: 36px;
    margin-right: 15px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    text-align: center;
    line-height: 30px;
}


/* ---------------- Button Subir Guifo */

.buttons_previa .btnPrevia {
    width: 144px;
    height: 36px;
    display: inline-block;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin: auto 0;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.buttons_previa .btnRepCap a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.buttons_previa .btnPrevia a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


/* ============================================ FIN #VISTA PREVIA ==================================*/


/* Pantalla 5 - Exito */


/* ============================================ Guifo Cargado con Exito ==================================*/


/* OCULTANDO PRECAPTURA */

#exito {
    display: none;
}


/* --------------------------------   BOX ----------------------*/

.box_exito {
    position: relative;
    width: 684px;
    min-height: 386px;
    margin: 153px auto;
    background-color: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    -moz-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-bottom: 153px;
}


/* ---------------- Encabezado */

.encabezado_exito {
    max-height: 24px;
    background: linear-gradient(90deg, #4180F6, #F7C9F3);
    margin: 2px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2px;
}

.encabezado_extio p {
    margin: 0;
    line-height: 18px;
    font-family: ChakraPetch-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.encabezado_exito img {
    margin: auto 0;
    margin-right: 10px;
}


/* ---------------- Contenido */

.content_box_exito {
    max-width: 365px;
    max-height: 191px;
    border: 1px inset #000;
    background-color: gray;
    margin: 1rem;
    overflow: hidden;
}

.main_exito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.btnExito {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.btnExito button {
    margin-top: 21px;
    width: 256px;
    height: 36px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btnExito button a {
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.buttons_exito {
    position: absolute;
    bottom: 45px;
    right: 45px;
    width: 144px;
    height: 36px;
    display: inline-block;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin: auto 0;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.buttons_exito .btn_listoExito a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}


/* ============================================ # Fin Pantalla Exito ==================================*/


/* ============================================ MIS GIFOS =============================*/

.contenedor_mis_gifos {
    margin: 3rem 4rem;
}

.mis_gifos {
    margin: 4rem 0;
    margin-bottom: 2rem;
    overflow: hidden;
    background: #E6E6E6;
    height: 32px;
    display: flex;
    align-items: center;
    border: inset;
    padding: 5px;
}

.mis_gifos h4 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #110038;
}


/* ============================================  FIN MIS GIFOS =============================*/


/* ===========================  Boton Listo =========================== */


/* .button_listo {
    display: none;
} */

.icon {
    display: inline-block;
    padding: 9px 15.5px;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    margin-right: -5px;
    border-right: none;
}

.icon img {
    width: 13.5px;
    height: 10.5px;
}

.button_listo {
    /* display: block; */
    text-align: right;
    padding: 0 2rem 1rem 0;
}

.button_listo .btn_listo {
    display: inline-block;
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    padding: 9px 39.5px;
    margin: auto 0;
    cursor: pointer;
}

.button_listo .btn_listo a {
    text-decoration: none;
    font-family: ChakraPetch-Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}